*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#33022b,#140111);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container h2{
    text-align: center;
    color: #940b5b;
    margin-bottom: 25px;
}

label{
    display: block;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #333;
}

input,
select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

input:focus,
select:focus{
    border-color: #01080f;
    box-shadow: 0 0 8px rgba(11,83,148,0.3);
}

button{
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #940b6b;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #d68abd;
}

.result{
    margin-top: 20px;
    text-align: center;
    background: #910c6f;
    color: #2e7d32;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.footer{
    text-align: center;
    margin-top: 20px;
    color: gray;
    font-size: 13px;
}